.land {
    display: flex;
    justify-content: space-between;
    
    padding: 20px;
    background-color: #fff;
    border: #000 1px solid;
  }
  
  .logo {
    height: 8%;
    width: 8%;
    margin-left: 5%;
  }
  
  .head {
    font-style: italic;
    font-size: 6rem;
    font-weight: bold;
    color: #000;
    margin-left: 20%;
  }
  
  .cam-icon {
    height: 80%;
    width: 25%;
    margin-left: 70%;
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 768px) {
    .land {
      flex-direction: column;
      padding: 10px;
      border: #000 1px solid;
    }
  
    .head {
      font-size: 20px;
      margin-top: 10px;
      text-align: center;
    }
  
    .logo {
      margin: 0 auto;
    }
  
    .cam-icon {
      margin-top: 10px;
      margin-left: 0;
    }
  }
  

