.landing {
    background-image: url('https://cdn.create.vista.com/api/media/small/326241768/stock-photo-abstract-background-mixed-water-oil');
    background-size: cover;
    background-position: center;
  }
  
  .animation {
    width: 40%;
    margin: 15%;
    margin-left: 30%;
  }
  
  .landing {
    display: flex;
    flex-direction: row;
  }
  
  .btn {
    border: 2px solid #006238;
    border-radius: 10px;
    color: #006238;
    font-size: 1em;
    font-weight: 700;
    height: 35px;
    padding: 5px;
    text-align: center;
    width: 70px;
    margin-left: 93px;
    margin-top: 47px;
    transition: all 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #006238;
    color: #fff;
    transform: scale(1.1);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .text {
    color: #ffffff;
    font: normal normal normal 3em Palatino;
  margin-top: 30%;
   
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 768px) {
    .animation {
      width: 100%;
      margin: 40% auto;
    }
  
    .landing {
      flex-direction: column;
    }
  
    .btn {
      margin: 20px auto 0;
    }
  
    .text {
      margin: 50px auto 0;
      text-align: center;
    }
  }
  
